{% extends "/test/home.twig" %}

{% block addproduct %}


<div class="container">
<div class="row">
    <div class="col-sm-12">
    <h1>Add a new product</h1>
    
        <form id="add-product" method="POST" action="{{ path_for('product.add') }}">
            ASIN: <input id="asin" type="text" name="asin" ></input><br>
            Name: <input id="name" type="text" name="name" ></input><br>
            Desc: <input id="short-desc" type="textarea" name="short_desc" ></input><br>
            Product link: <input id="prod_link" type="text" name="prod_link" ></input><br>
            IMG link: <input id="img_link" type="text" name="img_link" ></input><br>
            <input id="submit" type="submit" value="Add product"><br>
        </form>
        
     <div id="form-messages"></div>
	</div>
	
</div>
</div>

{% endblock %}

