<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


<!-- Bootstrap core CSS -->
<link href="public/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    {% block title %}
    	
    {% endblock %}



    <!-- Custom CSS -->
    <link href="public/bootstrap/css/style.css" rel="stylesheet">


</head>